<launch>
  <!-- Load the robot description using xacro -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find rviz_sim)/urdf/vehicle.urdf.xacro'" />

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- Static Transform Publisher -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_base_link" args="0 0 0 0 0 0 map base_link" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rviz_sim)/rviz/default.rviz" />

  <!-- Start the marker publisher node -->
  <node name="marker_publisher" pkg="rviz_sim" type="marker_publisher.py" output="screen" />
</launch>
